.card-gradient {
  background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0.7));
}

@media (max-width: 968px) {
  .marginMb {
    margin-top: 0 !important;
  }
  .aside__container {
    flex-wrap: wrap !important;
  }
  .cards__container {
    width: 100% !important;
    padding: 2rem;
  }
  .cards__container--margin {
    margin-top: 5rem;
  }

  .aside__section {
    width: 100%;
  }
  .full {
    width: 100% !important;
  }

  .hero__aside {
    flex-direction: column;
  }

  .hero__aside--width {
    width: 100% !important;
  }

  .hero__aside--justify {
    align-items: center;
  }

  .review__main--card {
    flex-direction: column !important;
  }
  .main__latest {
    flex-direction: column !important;
    align-items: center;
  }

  .footer__top {
    justify-content: center !important;
  }
  // .review__main--image {
  //   height: 20rem !important;
  // }
}

@media (max-width: 722px) {
  .review__cards {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media (min-width: 968px) and (max-width: 1243px) {
  .header__cards {
    width: 60% !important;
  }
}

@media (max-width: 1260px) {
  .video__cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .trending__videos {
    flex-direction: column;
  }
  .trending__videos--img {
    width: 100% !important;
  }
}
